body{
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:orange;
}
#Counter{
    color:orange;
    text-align: center;
}

#Start{
    background-color: aliceblue;
    color:orange;
    border-color: orange;
    border-radius: 10px;
    width:75px;
    height: 25px;
    font-weight: bolder;
}