body{
    background-color: aliceblue;
    background-image: url(candies.jpg);
    text-align: center;
    margin: 0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:black;
    background-image: url(h1bg.avif);
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}
#Counter{
    color:orange;
    text-align: center;
}

#Start{
    background-color: aliceblue;
    color:orange;
    border-color: orange;
    border-radius: 10px;
    width:75px;
    height: 25px;
    font-weight: bolder;
}

